<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="/fragments/header.html :: header"></div>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="root container px-0">
    <div class="top"><img th:src="@{/img/top.png}" style="width:100%;"></div>

    <div class="form1">
        <div class="header">
            <div class="brand"><img th:src="@{/img/맡기랑께.PNG}" style="margin-top:40px;margin-bottom: 40px;width: 70%;"></div>
            <div class="message"></div>
        </div>
        <form class="form w-100 d-flex" style="margin-top:100px">
            <div class="group" style="width:68%">
                <img th:src="@{/img/login.jpg}" style="width:34%; padding-left:15px">

                <div class="first">
                    <input id="username" type="text" placeholder="id" required>
                </div>
                <div class="second">
                    <input id="password" type="password" placeholder="password" required>
                </div>
                <div class="signup">
                    <a href="/signup" th:href="@{/signup}">
                        <img th:src="@{\img\signup.jpg}">
                    </a>
                </div>
            </div>


            <div class="align-self-center p-4">
                <img id="login-button" th:src="@{\img\맡기랑께_회원가입_완료버튼.png}" style="width:60px; align-self:center">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#login-button").on("click", function (){
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url:"/api/login",
            method:"post",
            data: JSON.stringify({username:username, password:password}),
            contentType : "application/json; charset=utf-8",
        }).
        done(function(json) {
            <!--성공, 실패 다 여기로 들어옴            -->
            <!--토큰 전달            -->
            <!--android로 전달-->
            if (json.data.success) {
                callAndroid(json.data.token);
            }
        })
        .fail(function(xhr, status, error) {
            console.log(error);
            <!--서버상태 이상으로 데이터를 못가져오는 경우 알림            -->
        })
    })

    function callAndroid(token){
        window.myJSInterfaceName.callAndroid(token);
    }

</script>
</body>
</html>

