<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <div th:replace="/fragments/header.html :: header"></div>
</head>
<body>
<div th:object="${user}">
    <h1 th:text="*{nickname}">기본 메시지</h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    보관소 관리
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="/locker/register" th:href="|@{/locker/register/}*{id}|">보관소 등록</a>
                    <ul>
                        <li th:each="l : ${lockers}">
                            <a th:href="|/locker/info/${l.id}|" th:text="${l.lockerName}"></a>
                        </li>
                    </ul>
<!--                    + 보관소 리스트에 수정, 삭제-->
                </div>
                <div class="accordion-body">
                    <span>수정, 삭제 만들어야함</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Accordion Item #2
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    로그아웃
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div>
                    <input type="hidden" id="userId" name="userId" th:value="*{id}">
                    <input id="logout-btn" type="submit" value="로그아웃">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $("#logout-btn").on("click", function (){
        var userId = $("#userId").val();
        $.ajax({
            url:"/api/logout",
            method:"post",
            data: JSON.stringify({id:userId}),
            contentType : "application/json; charset=utf-8",
        }).
        done(function(json) {
            <!--성공, 실패 다 여기로 들어옴            -->
            <!--android로 전달-->
            if (json.data) {
                callLogout();
            }
        })
        .fail(function(xhr, status, error) {
            console.log(error);
            <!--서버상태 이상으로 데이터를 못가져오는 경우 알림            -->
        })
    })

    function callLogout(){
        window.myJSInterfaceName.callLogout();
    }

</script>
</html>