<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <div th:replace="/fragments/header.html :: header"></div>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
<div class="root" th:object="${user}">
    <div class="header">
        <div class="img-wrap">
            <img th:src="@{\img\mypage\마이페이지_상단바.png}" style="width:100%;">
        </div>
        <a th:href="@{/etc/alarm}">
            <img class="bell" th:src="@{\img\mypage\마이페이지_알림.png}" >
        </a>
            <img class="bar" th:src="@{\img\mypage\00 프로필_대지 1.jpg}">
            <p style="position: absolute; font-size: 25px;left: 33%;top: 195px; font-family: ygd; font-weight:bold; letter-spacing:-2.5px"
               th:text="${user.nickname}">
                황인준
            </p>

        <div class="group" style="margin-top:70px">
            <img th:src="@{\img\mypage\마이페이지_라인.png}" style="position: relative;width: 82%; top: 145px; left: 38px;">
            <li>
                <a th:href="@{/etc/notice}">
                    <img th:src="@{\img\mypage\마이페이지_공지사항.png}" style="width:40%; margin-left:20px"></a>
                <a th:href="|@{/locker/storage/}${user.id}|">
                    <img th:src="@{\img\mypage\보관소.png}" style="width:40%; margin-left:25px"></a>
                <a th:href="@{/etc/list}"><img th:src="@{\img\mypage\이용내역.png}" style="width:40%"></a>
            </li>
            <div >
            <img th:src="@{\img\mypage\00 프로필2_대지 1.jpg}"
                 style="width:90%; position: relative; top:155px;left:20px; padding-bottom: 100px;">
            <block th:unless="${user.hasEntrustLocker()}">
                <p style="position: absolute; font-size: 15px;left: 170px;top: 500px; font-family: ygd; color:#fff">
                    이용 내역이
                </p>
                <p style="position: absolute; font-size: 15px;left: 178px;top: 520px; font-family: ygd; color:#fff">
                    없습니다.
                </p>
            </block>
            <block th:if="${user.hasEntrustLocker()}">
                <p th:text="${user.getLockerUsedTime()}" style="position: absolute; font-size: 22px;left: 172px;top: 502px; font-family: ygd; color:#fff">
                    00:50
                </p>
                <p th:text="${entrustLocker.lockerName}" style="position: absolute; font-size: 19px;left: 178px;top: 560px; letter-spacing: -2.5px;font-family: ygd;">
                    민트약국
                </p>
            </block>
            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $("#logout-btn").on("click", function (){
        var userId = $("#userId").val();
        $.ajax({
            url:"/api/logout",
            method:"post",
            data: JSON.stringify({id:userId}),
            contentType : "application/json; charset=utf-8",
        }).
        done(function(json) {
            <!--성공, 실패 다 여기로 들어옴            -->
            <!--android로 전달-->
            if (json.data) {
                callLogout();
            }
        })
        .fail(function(xhr, status, error) {
            console.log(error);
            <!--서버상태 이상으로 데이터를 못가져오는 경우 알림            -->
        })
    })

    function callLogout(){
        window.myJSInterfaceName.callLogout();
    }

</script>
</html>