<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <div th:replace="/fragments/header.html :: header"></div>
</head>
<body>
    <div class="container">
        <form action="/signup" th:action="@{/signup}" th:object="${user}" method="post">
            <p>Username<input type="text" th:field="*{username}"/></p>
            <small th:errors="*{username}"></small>
            <p>Password<input type="password" th:field="*{password}"/></p>
            <small th:errors="*{password}"></small>
            <p><input type="submit" value="Signup"/></p>
        </form>
    </div>
</body>
</html>